<ion-content color="dark">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Releases</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
<app-slideshow-backdrop [movies]="RecentMovies"></app-slideshow-backdrop>


  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h1>Movie Listings</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
<app-slideshow-poster [movies]="RecentMovies"></app-slideshow-poster>

<ion-grid >
  <ion-row>
    <ion-col>
      <h3>Pops</h3>
    </ion-col>
  </ion-row>
</ion-grid>
<app-slideshow-pares [movies]="Populars" (showMore)="showMore()"></app-slideshow-pares>
</ion-content>
  

